<br/><br/><br/><fw-label value="Dynamic form" color="yellow"></fw-label>
<div id="form-container">

    <fw-form id="dynamic-form" formSchema={{formSchema}} initialValues={{initialValues}}></fw-form>
  <fw-button id="submit">Submit</fw-button>
  <fw-button id="reset">Reset</fw-button>
</div>