<fw-label value="Button" color="yellow"></fw-label><br/>
<fw-button id="btn1">Hello</fw-button>


<br/><br/><fw-label value="Select" color="yellow"></fw-label><br/>
<fw-select
  label="Names"
  id="Name"
  placeholder="Your choices"
  hint-text="Select multiple options"
  multiple
>
  <fw-select-option value="1" selected>Starks</fw-select-option>
  <fw-select-option value="2">Lannisters</fw-select-option>
  <fw-select-option value="3">Sand</fw-select-option>
  <fw-select-option value="4">Greyjoys</fw-select-option>
  <fw-select-option value="5">Tyrell</fw-select-option>
</fw-select>

<fw-select
  label="House Name"
  id="House"
  required="true"
  value="1"
  placeholder="Your choice"
>
  <fw-select-option value="1">Starks</fw-select-option>
  <fw-select-option value="2">Lannisters</fw-select-option>
</fw-select>

<button onclick={{action "handleClick"}}>Get selected value programatically</button>

<br/><br/><fw-label value="Input" color="yellow"></fw-label><br/>
<fw-input
  label="Name"
  icon-left="add-contact"
  hint-text="Do not enter your user ID"
  warning-text="Please use numbers for user ID"
  error-text="Invalid user ID"
  state="warning"
  placeholder="Enter your official name"
  id="input1"
  required
  clear-input
>
</fw-input>

<br/><br/><fw-label value="Checkbox" color="yellow"></fw-label><br/>
<fw-checkbox id="chk1" checked description="Agree or Disagree">Select to agree</fw-checkbox><br><br>

<br/><br/><fw-label value="Radio group" color="yellow"></fw-label><br/>
<fw-radio-group name="Profile" value="au" allow-empty>
  <fw-radio value="au">Auditory</fw-radio>
  <fw-radio value="vi">Visual</fw-radio>
  <fw-radio value="re">Restless</fw-radio>
</fw-radio-group>