<ul>
  {{#link-to "atomic-components"}}<li><a href="#contact">Atomic Components</a></li>{{/link-to}}
  {{#link-to "static-form"}}<li><a href="#home">Static form</a></li>{{/link-to}}
  {{#link-to "dynamic-form"}}<li><a href="#news">Dynamic form</a></li>{{/link-to}}
  {{#link-to "datepicker"}}<li><a href="#about">Date picker</a></li>{{/link-to}}
  {{#link-to "data-table"}}<li><a href="#about">Data table</a></li>{{/link-to}}
</ul>
<div class="contents">
    {{outlet}}
</div>